# ============================================================
# .htaccess — URL Rewrite untuk Apache Laragon
# Semua request diarahkan ke public/index.php
# ============================================================

Options -MultiViews -Indexes

RewriteEngine On

# Arahkan semua request ke public/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [QSA,L]
